<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br/>
  <%= f.label :brand %>
  <%= f.text_field :brand %> <br/>
  <%= f.label :price %>
  <%= f.text_field :price %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
